<mat-card>
    <mat-card-header>
      <mat-card-title>Developer Profile</mat-card-title>
    </mat-card-header>
    <button  mat-raised-button (click)="openCreateUpdateDeveloperDialog('Add New')" color="accent" class="btn-add-developer">
        <mat-icon aria-hidden="false">add</mat-icon> Add New
    </button>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> USERNAME </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> EMAIL </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="phone_number">
          <th mat-header-cell *matHeaderCellDef> PHONE NUMBER </th>
          <td mat-cell *matCellDef="let element"> {{element.phone_number}} </td>
        </ng-container>
  
        <ng-container matColumnDef="skillsets">
          <th mat-header-cell *matHeaderCellDef> SKILLSETS </th>
          <td mat-cell *matCellDef="let element"> {{element.skillsets}} </td>
        </ng-container>
  
        <ng-container matColumnDef="hobby">
          <th mat-header-cell *matHeaderCellDef> HOBBY </th>
          <td mat-cell *matCellDef="let element"> {{element.hobby}} </td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> 
                <button mat-mini-fab color="primary" aria-label="Edit" (click)="openCreateUpdateDeveloperDialog('Update', element)" class="button-container">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn" aria-label="Delete" (click)="openDeleteDeveloperDialog(element)" class="button-container">
                    <mat-icon>delete</mat-icon>
                </button>
          </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
</mat-card>

<ng-template #callCreateUpdateDeveloperDialog>
    <h1 mat-dialog-title>{{dialogActionLabel}} Developer</h1>
    <form #userForm="ngForm" (ngSubmit)="onSend(userForm)">
    <mat-dialog-content>
            <div class="input-spacer">
                <mat-form-field>
                    <input matInput placeholder="Username" name="username" [(ngModel)] = "developerProfile.username" required>
                </mat-form-field>
            </div>
            <div class="input-spacer">
                <mat-form-field>
                    <input matInput placeholder="Email" name="email" type = "email" pattern=".+@.+" [(ngModel)] = "developerProfile.email" required>
                </mat-form-field>
            </div>
            <div class="input-spacer">
                <mat-form-field>
                    <input matInput placeholder="Phone Number" name="phone_number" pattern="^[0-9]*$" [(ngModel)] = "developerProfile.phone_number" required>
                </mat-form-field>    
            </div>
            <div class="input-spacer">
                <mat-form-field>
                    <mat-label>Skillsets</mat-label>
                    <mat-chip-list #skillsetsList>
                      <mat-chip *ngFor="let skillset of skillsets_list" (removed)="remove(skillset)">
                        {{skillset}}
                        <button matChipRemove>
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip>
                      <input name="skillsets"
                            [matChipInputFor]="skillsetsList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="true"
                            (matChipInputTokenEnd)="add($event)" required>
                    </mat-chip-list>
                    <mat-hint>Press <strong> enter </strong> to add new skill</mat-hint>
                  </mat-form-field>
            </div>
            <div class="input-spacer">
                <mat-form-field>
                    <input matInput placeholder="Hobby" name="hobby" [(ngModel)] = "developerProfile.hobby" required>
                </mat-form-field>                   
            </div>
    </mat-dialog-content>               
    <mat-dialog-actions>
      <button mat-raised-button matDialogClose="no">Cancel</button>
      <button type="update" mat-raised-button *ngIf="dialogActionLabel == 'Update'" color="primary">Update</button>
      <button type="submit" mat-raised-button *ngIf="dialogActionLabel == 'Add New'" color="accent">Add</button>
    </mat-dialog-actions>
  </form>
</ng-template>

<ng-template #callDeleteDeveloperDialog>
    <h1 mat-dialog-title>Remove Developer</h1>
    <mat-dialog-content>
        Would you like to remove {{developerToDelete?.username}} from the network?
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button matDialogClose="no">Cancel</button>
        <button mat-raised-button matDialogClose="yes" color="warn">Yes</button>
    </mat-dialog-actions>
</ng-template>